.Grid {
  --gap: 4px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: fit-content;
  gap: var(--gap);
}
.Grid > div {
  display: flex;
  gap: var(--gap);
  flex-direction: row;
  justify-content: start;
  align-items: start;
}

.Cell {
  padding: 0;
  margin: 0;
  height: 48px;
  width: 48px;
  border: none;
  background: var(--cell);
  text-align: center;
  font-weight: bold;
  border-radius: var(--radius-cell);
  transition: var(--trans);
}
.Cell:focus, .Cell:active {
  background: var(--main) !important;
}
.Cell.disabled {
  background: var(--text);
}
.Cell.highlighted {
  box-shadow: inset 0 0 0 1px var(--main);
  background: color-mix(in srgb, var(--main) 33%, var(--bg) 67%);
}

.WordSet {
  --width: 400px;
  min-width: var(--width);
  max-width: var(--width);
  padding: 0 16px;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  gap: 16px;
}
.WordSet * {
  margin: 0;
}
.WordSet > h2 {
  background: var(--cell);
  border-radius: var(--radius-cell);
  padding: 16px;
}
.WordSet > div {
  flex: 0 1 50%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.WordSet > div > div {
  border-radius: var(--radius-cell);
  box-sizing: border-box;
  gap: 8px;
  padding: 8px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: start;
  transition: var(--trans);
}
.WordSet > div > div:hover {
  background: var(--cell);
}
.WordSet > div > div:focus, .WordSet > div > div:active {
  background: var(--main) !important;
}

html:root {
  --trans: all ease-in-out 0.25s;
  --main: rebeccapurple;
  --hover: color-mix(in srgb, var(--main), transparent 80%);
  --active: color-mix(in srgb, var(--main), transparent 50%);
  --radius-inf: 9999px;
  --radius-cell: 4px;
  --radius-button: 16px;
}
html:root:root[data-theme=dark] {
  --bg: #000000;
  --cell: #101010;
  --text: #FFFFFF;
  --error: #500000;
  --filter: brightness(0) invert(1);
}
html:root:not([data-theme=dark]) {
  --bg: #FFFFFF;
  --cell: #F0F0F0;
  --text: #202020;
  --error: #ff9898;
  --filter: none;
}

.FormsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: 32px;
}
.FormsContainer > .separator {
  width: 2px;
  border-radius: var(--radius-inf);
  background: var(--text);
}
.FormsContainer > form {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 32px;
}
.FormsContainer > form .separator {
  height: 16px;
}
.FormsContainer > form label {
  display: none;
}
.FormsContainer > form > div:first-of-type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.FormsContainer > form > div:first-of-type > h1, .FormsContainer > form > div:first-of-type > h2, .FormsContainer > form > div:first-of-type > h3 {
  margin: 0;
}
.FormsContainer > form > div:first-of-type > h1 > span, .FormsContainer > form > div:first-of-type > h2 > span, .FormsContainer > form > div:first-of-type > h3 > span {
  color: var(--main);
}
.FormsContainer > form > div:first-of-type > img {
  height: 64px;
  filter: var(--filter);
}
.FormsContainer > form > div:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  gap: 8px;
  --padding: 16px;
  width: 100%;
}
.FormsContainer > form > div:nth-of-type(2) > div {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
  gap: 8px;
}
.FormsContainer > form > div:nth-of-type(2) input {
  flex-grow: 1;
  background: var(--cell);
  padding: var(--padding);
  border-radius: var(--radius-cell);
  border: none;
  transition: var(--trans);
}
.FormsContainer > form > div:nth-of-type(2) input:hover {
  background: var(--hover);
}
.FormsContainer > form > div:nth-of-type(2) input:active {
  background: var(--active);
}
.FormsContainer > form > div:nth-of-type(2) a {
  background: var(--cell);
  padding: 0 var(--padding);
  border-radius: var(--radius-cell);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: var(--trans);
}
.FormsContainer > form > div:nth-of-type(2) a:hover {
  background: var(--hover);
}
.FormsContainer > form > div:nth-of-type(2) a:active {
  background: var(--active);
}
.FormsContainer > form > div:nth-of-type(2) a > img {
  height: 24px;
  filter: var(--filter);
}
.FormsContainer > form > input {
  background: var(--hover);
  padding: 16px 24px;
  border-radius: var(--radius-inf);
  display: flex;
  border: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: var(--trans);
  font-weight: bold;
}
.FormsContainer > form > input:hover {
  background: var(--active);
}
.FormsContainer > form > input:active {
  background: var(--main);
  color: white;
}

.TopBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
}
.TopBar > a > img {
  height: 48px;
  filter: var(--filter);
}
.TopBar > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.Button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: var(--trans);
  padding: 12px;
  margin: 0;
  background: var(--cell);
  border-radius: var(--radius-inf);
  aspect-ratio: 1/1;
}
.Button:hover {
  background: var(--hover);
}
.Button:active {
  background: var(--active);
}
.Button > img {
  height: 20px;
  filter: var(--filter);
}

.GridContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 32px;
  width: 100%;
  flex-grow: 1;
  overflow-y: scroll;
}
.GridContainer > div:first-of-type {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ErrorMessage {
  position: absolute;
  right: 16px;
  bottom: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 16px;
  border-radius: var(--radius-cell);
  background: var(--error);
  animation: GoingAway 10s;
  opacity: 0;
}
.ErrorMessage > div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 4px;
}
.ErrorMessage * {
  margin: 0;
}
.ErrorMessage > img {
  height: 24px;
  filter: var(--filter);
}

.EditableWordsList {
  --width: 400px;
  height: 100%;
  padding: 0 16px;
  flex-grow: 1;
  align-self: stretch;
  min-width: var(--width);
  max-width: var(--width);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  overflow: scroll;
}
.EditableWordsList label {
  display: none;
}
.EditableWordsList button {
  transition: var(--trans);
}
.EditableWordsList button:hover {
  background: var(--hover);
}
.EditableWordsList button:active {
  background: var(--active);
}
.EditableWordsList > #horizontal, .EditableWordsList #vertical, .EditableWordsList #base {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  gap: 8px;
}

.ButtonsSet {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
  gap: 8px;
}
.ButtonsSet > button {
  background: var(--cell);
  border: none;
  border-radius: var(--radius-cell);
  font-weight: bold;
  padding: 16px;
  flex-grow: 1;
}
.ButtonsSet > input[type=text] {
  background: var(--cell);
  border: none;
  border-radius: var(--radius-cell);
  padding: 16px;
  flex-grow: 1;
}
.ButtonsSet > p {
  margin: 0;
  flex-grow: 2;
  background: var(--cell);
  border-radius: var(--radius-cell);
  font-weight: bold;
  padding: 16px;
}
.ButtonsSet > p#error {
  background: var(--error);
}
.ButtonsSet > form {
  display: none;
  /*>
  * flex-grow: 0.5
  * display: flex
  * flex-direction: row
  * justify-content: stretch
  * align-items: stretch
  *
  * input[type=submit]
  *  flex-grow: 1
  *  background: var(--hover)
  *  border: none
  *  border-radius: var(--radius-cell)
  *  font-weight: bold
  *  padding: 16px
  *  transition: var(--trans)
  *
  *  &:disabled
  *    opacity: 0.5
  *
  *  &:hover
  *    background: var(--active)
  *
  *  &:active
  *    background: var(--main)*/
}

.WordEntry {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
  gap: 8px;
}
.WordEntry > input[type=number] {
  background: var(--cell);
  border: none;
  border-radius: var(--radius-cell);
  font-weight: bold;
  padding: 16px 8px;
  width: 16px;
  flex-grow: 0.5;
  -moz-appearance: textfield;
}
.WordEntry > input[type=number]::-webkit-outer-spin-button, .WordEntry > input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.WordEntry > input[type=text] {
  flex-grow: 1;
  border: none;
  background: var(--cell);
  border-radius: var(--radius-cell);
  font-weight: bold;
  padding: 16px;
}

@keyframes GoingAway {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.AccountContainer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  gap: 64px;
  padding: 0 64px 128px;
}
.AccountContainer > h1, .AccountContainer > h2 {
  text-align: center;
}
.AccountContainer * {
  margin: 0;
}
.AccountContainer > div:first-of-type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.AccountContainer > div:first-of-type > img {
  height: 200px;
}

.GridButtonContainer {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}

.GridButton {
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid var(--text) 3px;
  border-radius: var(--radius-button);
  padding: 16px;
  gap: 12px;
}
.GridButton > img {
  height: 96px;
  filter: var(--filter);
}
.GridButton * {
  margin: 0;
}
.GridButton > h1 {
  font-size: 1.25em;
}
.GridButton > h2 {
  font-size: 0.8em;
  background: var(--cell);
  padding: 4px 8px;
  border-radius: var(--radius-inf);
}
.GridButton > div {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 8px;
}

body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  background: var(--bg);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}
body * {
  color: var(--text);
}
