.TopBar
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  padding: 32px

  > a > img
    height: 48px
    filter: var(--filter)

  > div
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    gap: 20px

.Button
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  transition: var(--trans)
  padding: 12px
  margin: 0
  background: var(--cell)
  border-radius: var(--radius-inf)
  aspect-ratio: 1/1

  &:hover
    background: var(--hover)

  &:active
    background: var(--active)

  > img
    height: 20px
    filter: var(--filter)

.GridContainer
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  gap: 32px
  width: 100%
  flex-grow: 1

.ErrorMessage
  position: absolute
  right: 16px
  bottom: 16px
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  gap: 16px
  padding: 16px
  border-radius: var(--radius-cell)
  background: var(--error)
  animation: GoingAway 10s
  opacity: 0

  > div
    display: flex
    flex-direction: column
    justify-content: start
    align-items: start
    gap: 4px

  *
    margin: 0

  > img
    height: 24px
    filter: var(--filter)